{% load commons %}

<tr class="border-b border-gray-200 bg-gray-100" hx-post="{% url 'get_product_filter' %}"
    hx-trigger="change delay:0.25s from:[name='code'], change delay:0.25s from:[name='name'], change delay:0.25s from:[name='categories'], change delay:0.25s from:[name='suppliers']"
    hx-target="#product-list" hx-swap="outerHTML"
    hx-include="[name='code'], [name='name'], [name='categories'], [name='suppliers']">
    <th class="p-1 border-r border-gray-200">
        {{ code_filter_form.code }}
    </th>
    <th class="p-1 border-r border-gray-200">
        {{ name_filter_form.name }}
    </th>
    <th class="p-1 border-r border-gray-200">
        {% with category_filter_form.categories as field %}
        <select name="{{ field.name }}"
            class="w-full p-1 text-xs border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500"
            data-select2="true" data-placeholder="Select categories..."
            data-selected="{{ selected_categories|join:',' }}" multiple="multiple">
            {% for choice in field.field.choices %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select>
        {% endwith %}
    </th>
    <th class="p-1 border-r border-gray-200">
        {% with supplier_filter_form.suppliers as field %}
        <select name="{{ field.name }}"
            class="w-full p-1 text-xs border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500"
            data-select2="true" data-placeholder="Select suppliers..." data-selected="{{ selected_suppliers|join:',' }}"
            multiple="multiple">
            {% for choice in field.field.choices %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
        </select>
        {% endwith %}
    </th>
    <th class="p-1 border-r border-gray-200">
        <input type="text" class="w-full p-1 text-xs border border-gray-300 rounded" placeholder="" disabled>
    </th>
    <th class="p-1 border-r border-gray-200">
        <input type="text" class="w-full p-1 text-xs border border-gray-300 rounded" placeholder="" disabled>
    </th>
    <th class="p-1">
        <input type="text" class="w-full p-1 text-xs border border-gray-300 rounded" placeholder="" disabled>
    </th>
    <th class="p-1 text-right">
        <input type="text" class="w-full p-1 text-xs border border-gray-300 rounded" placeholder="" disabled>
    </th>
</tr>