<tr class="border-b border-gray-200 bg-gray-100" hx-post="{% url 'get_product_filter' %}"
    hx-trigger="change delay:0.25s from:input" hx-target="#product-list" hx-swap="outerHTML"
    hx-include="[name='code'], [name='name'], [name='categories'], [name='suppliers']">
    <th class="p-1 border-r border-gray-200">
        {{ code_filter_form.code }}
    </th>
    <th class="p-1 border-r border-gray-200">
        {{ name_filter_form.name }}
    </th>
    <th class="p-1 border-r border-gray-200">
        {{ category_filter_form.categories }}
    </th>
    <th class="p-1 border-r border-gray-200">
        {{ supplier_filter_form.suppliers }}
    </th>
</tr>