<div class="container mx-auto px-4 py-8">

    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <table class="w-full">
            <thead class="bg-gray-50">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider">
                        Code
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider">
                        Name
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider">
                        Category
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-black uppercase tracking-wider">
                        Suppliers
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr class="hover:bg-blue-200 cursor-pointer">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-600">
                        PRD001
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">
                        Product Name 1
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">
                        Electronics
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">
                        Supplier A, Supplier B, Supplier C
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>