<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Predictor</title>

    {% load static %}
    {% load compress %}

    {% compress css inline %}
    <link rel="stylesheet" href="{% static 'css/tailwind-local.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <style>
        [x-cloak] {
            display: none !important;
        }
    </style>
    {% endcompress %}
</head>

<body>
    {% include 'nav/top_navbar.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>